/* 登录 或 注册 橙色按钮 */
.nz_button{
    display: block;
    width: 9rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .2rem;
    margin:.5rem .5rem 0;
    text-align: center;
    border-radius: .12rem;
    box-shadow: .02rem .02rem .2rem -.08rem #333; 
    font-family: 'Microsoft YaHei';
}
.nz_button:active{  box-shadow: .02rem .02rem .1rem 0rem #333;  }

/* 背景渐变橙色 */
.nz_bg_gradual_orange{
    /*! autoprefixer: ignore next */
    background:-webkit-gradient(linear, 100% 0, 0 0, from(#e93030), to(#df7c2b));
    background: -webkit-linear-gradient(to right, #e93030 , #df7c2b); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(to right, #e93030 , #df7c2b); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(to right, #e93030 , #df7c2b); /* Firefox 3.6 - 15 */ 
    background: linear-gradient(to right, #e93030 , #df7c2b); /* 标准的语法 */
}
/* 背景白色 */
.nz_bg_white{
    background: #fff;
}
/* 黑字 */
.nz_color_black{
    color:black;
}
/* 白字 */
.nz_color_white{
    color:white;
}